.containerone{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    font-style:normal;
    font-family:Nunito Sans;
    margin:0;
    padding-top:50px;
    width:100%;
    padding-bottom:50px
}

.innerContainer{
    background-color:#D0CDE1;
    padding:8px;
    border-radius:20px;
    width:40%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    text-align:center;
}

.input{
    font-size:24px;
    color:#2F2E41;
    border-radius:20px;
    border:none;
    height:50px;
    width:90%
}

.user{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:90%;
    align-items:center;
    padding-left:20%;
    padding-right:20%
}

@media screen and (max-width:700px){
    .containerone{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .innerContainer{
        padding: 5px;
        width:90%
    }
    .input{
        font-size: 14px;
        width:90%;
        height:30px;
    }
    .searchIcon{
        width:20px;
        height:20px;
    }
}

@media screen and (max-width:600px){
    .user{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media screen and (max-width:400px){
    .user{
        flex-direction: column;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
}