
.main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    background-color:#2F2E41;
    padding:20px;
    text-align:center;
    color:white;
    font-style:normal;
    font-family:Nunito Sans;
    width:100%;
    margin:0;
    font-size:24px;
}
.text{
    font-size: 24px;
    padding-left:100px;
    padding-right:100px;
}
@media screen and (max-width:450px){
    .text{
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}