
.main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    background-color:#2F2E41;
    padding:5%;
    text-align:center;
    color:white;
    font-style:normal;
    font-family:Nunito Sans;
    width:95%;
    margin:0;
    font-size:24px;
}
.text{
    font-size: 24px;
}
@media screen and (max-width:450px){
    .text{
        font-size: 15px;
    }
    .love{
        width:10px;
        height: 10px;
    }
}