.upHead{
    padding:50px;
    font-size:56px;
    text-align:center;
    color:#3F3D56;
    font-family:Nunito Sans;
    font-style:normal
}
.user{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:90%;
    align-items:center;
    padding-left:20%;
    padding-right:20%
}

@media screen and (max-width:800px){
    .upHead{
        font-size: 30px;
        padding: 20px;
    }
    
}
@media screen and (max-width:600px){
    .upHead{
        font-size: 20px;
    }
    /* .user{
        padding-left: 15%;
        padding-right: 15%;
    } */
}
/* @media screen and (max-width:400px){
    .user{
        flex-direction: column;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
} */